@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*---Colors----*/

/*---Fonts---*/

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 56px;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 20px;
    color: #fff;
    background-color: #DC7633;
    border-color: #DC7633;
}

/*-----Navbar-----*/

.nav-container {
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.nav--styl {
    background-color: #16425b;
    border-color: #16425b;
}

/*---Hero Section---*/

.hero-container {
    padding: 0;
}

.hero--image {
    height: 75vh;
    min-height: auto;
    background: url("../images/blueblack1.jpg") no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    background-position: center;
}

.hero--col {
    padding: 0;
}

.hero--contact {
    height: 75vh;
    background-color: #3a7ca5;
    padding-left: 50px;
    padding-right: 0;
}

.hero--contact h3 {
    margin-top: 50px;
    font-size: 16px;
    font: bold;
}

.hero--contact p {
    font-size: 12px;
}

.jumbotron {
    text-align: center;
    background-color:transparent;
}

/*-----Quotes-Section-----*/
.quotes-container {
    background-color: #d9dcd6;
    margin-top: 0;
}

.quote--heading {
    margin-top: 20px;
    text-align: center;
}

.media--row {
    margin-top: 20px;
}

.blockquote {
    margin-top: 10px;
    font-size: 14px;
}

/*---Modal---*/
.modal-container{

}

/*-----Footer-----*/
.footer-container {
    height: 56px;
    background-color: #16425b;
    border-color: #16425b;
}

.footer-container i {
    color: #fff;
    font-size: 30px;
    margin-top: 13px;
}