@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:400,600,700,800|Oswald:400,500,600,700|Roboto:400,500,700,900&display=swap');

/*---Body---*/

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 56px;
}

/* Buttons */

.btn-primary {
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border-radius: 20px;
    color: #fff;
    background: #ef8a17;
    border: #ef8a17;
    transition-property: background-color, opacity;
    transition-duration: 0.5s;
}

.btn-primary:hover {
    background-color: #ef8a17;
    opacity: 0.75;
    transition-timing-function: ease-in-out;
}

/*-----Navbar-----*/

.navbar {
    padding: 8px 35px 8px 35px;
}

.nav--styl {
    background-color: #1d3461;
    border-color: #1d3461;
}

/*---Hero Section---*/

.hero-container {
    padding: 0;
}

.hero--row {
    height: 75vh;
}

.carousel-indicators .active {
    background-color: #ef8a17;
}

.jumbotron {
    text-align: center;
    background-color: rgba(229,229,229,0.5);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 20;
}

.jumbotron h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 28px;
}

.jumbotron p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-decoration: underline;
}

/*---Contact Section---*/
.contact-container {
    background-color: #1d3461;
    padding: 0 50px 0 50px;
    margin-top: 70px; /*----this needs to be fixed---->*/
}

.contact--findus {
    text-align: center;
}

.contact--opentimes {
    text-align: center;
    border-left: solid 5px #ef8a17;
    border-right: solid 5px #ef8a17;
    border
}

.contact--contactus {
    text-align: center;
}

.contact--heading h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
    color: #ef8a17;
}

.contact--row ul {
    list-style: none;
    padding: 0;
}

.contact--row h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 15px;
    color: #ef8a17;
}

.contact--row li {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

.contact-container i {
    color: #fff;
    font-size: 30px;
    margin-top: 15px;
}

.contact--bottom--row {
    height: 66px;
}

/*-----Quotes-Section-----*/
.quotes-container {
    background-color: #e5e5e5;
    margin-top: 0;
}

.quote--heading h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
}

.media--row {
    margin-top: 20px;
}

.media-body {
    text-align: center;
}

.rounded-circle {
    border: solid 4px;
    border-color: #ef8a17;
}

.blockquote {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 16px;
}

.quotes--names {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: italic;
}

/*-----Footer-----*/

.footer-container {
    height: 56px;
    background-color: #1d3461;
    border-color: #1d3461;
}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
    padding: 5%;
    margin: 1%;
}

.social-links i {
    color: #fff;
    font-size: 30px;
    margin-top: 13px;
    transition-property: color;
    transition-duration: 0.5s;
}

.social-links i:hover {
    color: #ef8a17;
    transition-timing-function: ease-in-out;
}

/*---Modal---*/

.modal-header {
    background-color: #1d3461;
}

.modal-title {
    color: #fff;
}

.member--login {
    padding: 0;
}