@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:400,600,700,800|Oswald:400,500,600,700|Roboto:400,500,700,900&display=swap');

/*---Colors----*/

/*---Body---*/

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 56px;
}

/* Buttons */

.btn-primary {
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border-radius: 20px;
    color: #fff;
    background: #9fcc2e;
    border: #9fcc2e;
}

/*-----Navbar-----*/

.navbar {
    padding: 8px 35px 8px 35px;
}

.nav--styl {
    background-color: #16425b;
    border-color: #16425b;
}

/*---Hero Section---*/

.hero-container {
    padding: 0;
}

.hero--row {
    height: 75vh;
}

.hero--contact {
    background-color: #2f6690;
    padding: 0 50px 0 50px;
    max-height: 75vh;
}

.hero--contact ul {
    list-style: none;
    padding: 0;
}

.hero--contact h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 30px;
    color: #9fcc2e;
}

.hero--contact li {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

.hero--image {
    height: 75vh;
    min-height: auto;
    background: url("../images/img5.jpg") no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    background-position: center;
}

.hero--col {
    padding: 0;
}

.jumbotron {
    text-align: center;
    background-color:transparent;
}

/*-----Quotes-Section-----*/
.quotes-container {
    background-color: #d9dcd6;
    margin-top: 0;
}

.quote--heading h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
}

.media--row {
    margin-top: 20px;
}

.blockquote {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 10px;
    font-size: 16px;
}

.quotes--names {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: italic;
}

/*---Modal---*/
.modal-container{

}

.modal-header {
    background-color: #16425b;
}

.modal-title {
    color: #fff;
}

.close {
    color: #fff;
}

.member--login {
    padding: 0;
}

/*-----Footer-----*/
.footer-container {
    height: 56px;
    background-color: #16425b;
    border-color: #16425b;
}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
    padding: 5%;
    margin: 1%;
}

.social-links i {
    color: #fff;
    font-size: 30px;
    margin-top: 13px;
    transition-property: color;
    transition-duration: 0.5s;
}

.social-links i:hover {
    color: #9fcc2e;
    transition-timing-function: ease-in-out;
}